* {
    box-sizing: border-box;
    font-size: 14px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: 0px auto;
    padding: 0px 15px;

    width: 1170px;
}

header {
    margin-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #383d40;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.brand-text {
    display: flex;

    padding: 15px;
    padding-left: 0;
    height: 50px;
}

.bt-left {
    line-height: 17px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}

.bt-right {
    padding: 1px 3px;

    line-height: 9px;
    font-size: 11px;
    font-weight: 600;
    color: #aaa;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    color: #fff;
}

.profile-image {
    border-radius: 50%;

    width: 30px;
    height: 30px;
}

.dropdown-toggle .name {
    padding: 0px 10px 0px 10px;
}

.dropdown-toggle .fa-caret-down {
    font-size: 11px;
}

/* .page-header::before {
    display: table;
    content: " ";
} */

.page-header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 9px;
}

.pull-left {
    margin: 20px 0px 10px;
    font-size: 36px;
    font-weight: 400;
}

.pull-right {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 325px;
    height: 36px;
}

.search-project {
    position: relative;
    width: 226.5px;
    height: 34px;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding: 6px 42.5px 6px 12px;
    height: 34px;

    background-color: #fff;
    color: #555;
}

.search-project .fa-magnifying-glass {
    position: absolute;
    top: 0px;
    right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 34px;
    height: 34px;
}

.form-control:focus {
    border: 1px solid #2fafff;
    box-shadow: 0px 0px 5px 1px #97d7ff;
}

.btn-toggle {
    display: flex;
    align-items: center;

    border: 1px solid #ccc;
    border-radius: 2px;

    width: 80px;
    height: 34px;
}

.change-viewtype {
    background-color: #fff;
    color: #333;

    border: none;
    padding: 6px 12px;
    width: 39px;
    height: 32px;

    cursor: pointer;
}

.btn-toggle .change-viewtype:nth-child(1) {
    border-right: 1px solid #ccc;
}

.active {
    background: radial-gradient(circle, white, #f0f0f0, #e6e6e6);
}

.change-viewtype:not([type=active]):hover {
    background-color: #e6e6e6;
}

.row {
    display: flex;
}

.nav-stacked {
    margin: 0;
    padding: 0px 15px 0px 0px;
    width: 277.5px;
    /* 나의 프로젝트 라인 블록 설정 */
    list-style-type: none;
}

.nav-stacked-list {
    margin-bottom: 1px;
    border-radius: 2px;
    padding: 10px 15px;
    width: 262.5px;
    height: 40px;

    cursor: pointer;
}

.nav-stacked-list:not([class *=active-list]):hover {
    background-color: #eee;
}

.active-list {
    background-color: #3498db;
    color: #fff;
}

.project-main {
    /* 설정했을 때 모두 선택, 새로운 프로젝트 라인 간격 생성 */
    padding-left: 15px;
    width: 862.5px;
}

.project-action {
    /* 모두선택, 새로운 프로젝트 라인 */
    display: flex;
    justify-content: space-between;
}

.btn {
    /* 모두선택, 새로운 프로젝트 설정 묶음 */
    border: 1px solid #adadad;
    border-radius: 2px;
    padding: 6px 12px;
    height: 34px;

    cursor: pointer;
}

.btn-defult {
    background-color: white;
}

.btn-defult:hover {
    background-color: #eee;
}

.btn-primary {
    background-color: #3498db;
    color: white;
}

.btn-primary:hover {
    background-color: #357ebd;
}

.project-list-wrapper {
    /* 프로젝트 썸네일 라인
    프로젝트 썸네일들의 정렬 */
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px;
}

.project-item {
    padding: 0px 15px;
}

.project-container {
    /* 프로젝트 썸네일 공간 테두리 */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    width: 252.5px;
    /* 컨테이너 너비 */
}

.item-header {
    /* 톱니바퀴 우측 위로 이동 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
    /* 아이콘 두 개의 아래 여백(padding) */
}

.item-option-btn {
    /* 아이콘 색상 & 위치 */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;

    border-radius: 2px;
    width: 35px;
    height: 22px;

    cursor: pointer;
}

.item-option-btn:hover {
    border: 1px solid #ddd;
    background-color: #e6e6e6;
}

.item-option-btn .fa-solid {
    font-size: 11px;
    margin: 0px 1px;
}

.item-img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ddd;
    border-radius: 2px;
    width: 242.5px;
    height: 162.5px;

    overflow: hidden;

    cursor: pointer;
}

.item-img-container img {
    width: 100%;
}

.item-content {
    /* 이미지 아래 영역 */
    padding: 9px;
}

.item-title {
    margin: 6px 0px 10px;

    font-size: 24px;
    color: #3498db;
}

.item-description {
    /* 부가 설명 텍스트(test) 및 라인 영역 */
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
    height: 48px;

    font-size: 12px;
}

.project-time {
    margin-bottom: 5px;

    font-size: 12px;
    font-weight: 600;
}

.project-time .fa-clock {
    /* 시계 모양 사이즈 변경을 위해 따로 지정(상속받지 않았기 때문) */
    font-size: 12px;
}

.btn-test {
    /* 로그인 없이 테스트 버튼 설정*/
    padding: 1.8px 5.4px 2.7px;
    /* 녹색 영역 사이즈 설정 */
    height: auto;
    line-height: 10px;

    background-color: #5cb85c;
    color: white;
    font-size: 10px;
}